{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": [
    "prettier",
    "react",
    "react-hooks"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    }
  },
  "rules": {
    "import": 0,
    "max-len": 0,
    "no-alert": 0,
    "no-shadow": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "import/no-cycle": 0,
    "react/prop-types": 0,
    "no-return-assign": 0,
    "consistent-return": 0,
    "no-param-reassign": 0,
    "react/display-name": 0,
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "react/button-has-type": 0,
    "react/no-children-prop": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/react-in-jsx-scope": 0,
    "react/no-array-index-key": 0,
    "react/no-unused-prop-types": 0,
    "react/require-default-props": 0,
    "react/no-unescaped-entities": 0,
    "import/prefer-default-export": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": 0,
    "react/destructuring-assignment": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-key": 0,
    "react-hooks/rules-of-hooks": 0,
    "no-useless-computed-key": 0,
    "arrow-body-style":0,
    "no-irregular-whitespace":0,
    "import/no-unresolved":0,
    "import/order":0,
    "no-const-assign":0,
    "no-lonely-if":0,
    "no-nested-ternary":0,
    "no-unused-vars": [
      0,
      {
        "ignoreRestSiblings": false
      }
    ],
    "prettier/prettier": [
      0
      // {
      //   "printWidth": 120,
      //   "singleQuote": true,
      //   "trailingComma": "none",
      //   "tabWidth": 2
      // }
    ]
  }
}
